@using Microsoft.EntityFrameworkCore.Infrastructure

@model IEnumerable<CodeWithArash.Models.Product> 
 @* IEnumerable<T> is an interface in C#. It represents a collection of objects that can loop through.
 IEnumerable<T> doesn’t store items itself — it just provides a way to read them.
 Lists, arrays, or any collection that can be iterated over implement IEnumerable<T>.
It’s commonly used in ASP.NET Core for passing multiple items from the controller to the view. *@




<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold">Welcome to CodeWithArash</h1>
        <p class="lead text-muted">Explore our courses and expand your skills in programming and development!</p>
    </div>

    <div class="row justify-content-center g-4">
        @foreach (var item in Model)
        {
           <partial name="_ProductCard" model="item" />
        }
    </div>
</div>




